<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="w3-row w3-white w3-padding w3-hide-medium w3-hide-small" style="margin-top:5px;">
      <div class="w3-half">
        <a href="http://www.upjian.com/" class="upjian-logo">upjian<span class="dotcom">.com</span></a>
      </div>
      <div class="w3-half w3-wide">
        <div class="w3-right" style="font-family:'ABeeZee';font-size:24.5px;">
          up(上) + jian(肩)
        </div>
      </div>
    </div>

    <!-- navigation -->
    {{ partial "nav.html" . }}

    {{ partial "sidenav.html" . }}
