<!--
<div class="w3-bar w3-card-2">
  <a class="w3-bar-item w3-buttom fa fa-menu w3-hide-large" onclick="open_menu()"></a>
  <a class="w3-bar-item w3-button fa fa-home" href="/"></a>
  <a class="w3-bar-item w3-button" href="/math/">数学</a>
  <a class="w3-bar-item w3-button" href="/english/">English</a>
  <a class="w3-bar-item w3-button" href="/programming/">Programming</a>
</div>
 -->
<div class="w3-bar w3-card-2 topnav w3-indigo">
  <a class="w3-bar-item w3-buttom topnav-icons w3-hide-large" onclick="open_sidenav()"><i class='fa'>&#xf0c9;</i></a>
  <a class="w3-bar-item w3-button fa fa-home topnav-icons" href="/" title="主页"></a>
  {{ range .Site.Menus.main }}
  <a href="{{ .URL }}" class="w3-bar-item w3-button">{{ .Name }}</a>
  {{ end }}
</div>
